@font-face {
  font-family: "Jersey 10";
  src: url("fonts/Jersey10-Regular.ttf") format("truetype");
}
:root {
    --c1: red;
    --c2: orange;
    --c3: blue;
    --c4: green;
    --c5: white;
    --c6: yellow;
    --base: #F2F2F2;
    --base1: #2F2F2F;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#scene {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: var(--base);
}
#name {
    position: fixed;
    top: 6px;
    font-size: 4rem;
    font-family: "Jersey 10";
    letter-spacing: 3px;
}
#name span:nth-child(1) {
    color: var(--c2);
}

#name span:nth-child(2) {
    color: var(--c3);
}
#name span:nth-child(3) {
    color: var(--c4);
}
#name span:nth-child(4) {
    color: var(--c6);
}
#name span:nth-child(5) {
    color: var(--c2);
}
#name span:nth-child(6) {
    color: var(--c3);
}
#name span:nth-child(7) {
    color: var(--c4);
}
#name label {
    position: absolute;
    top: 6px;
    font-family: "Jersey 10";
    font-size: 4rem;
    color: var(--c1);
    
}
#cube {
    height: 180px;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    100% {
    transform: rotateX(360deg) rotateY(360deg);
}
}
.cubie {
    position: absolute;
    height: 60px;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    border-radius: 20px;
}

#core {
    position: relative;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    aspect-ratio: 1;
}
.face {
    position: absolute;
    height: 60px;
    aspect-ratio: 1;
    border: 2px solid var(--back);
    border-radius: 6px;
    backface-visibility: hidden;
}
.front {
    transform: translateZ(30px);
}
.back {
    transform: 
    rotateY(180deg)
    translateZ(30px);
}
.left {
    transform: 
    rotateY(-90deg)
    translateZ(30px);
}
.right {
    transform: 
    rotateY(90deg)
    translateZ(30px);
}
.top {
    transform: 
    rotateX(90deg)
    translateZ(30px);
}
.bottom {
    transform: 
    rotateX(-90deg)
    translateZ(30px);
}
.front::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: var(--c1);
}
.back::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: var(--c2);
}
.left::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: var(--c3);
}
.right::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: var(--c4);
}
.top::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: var(--c5);
}
.bottom::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: var(--c6);
}